

@import './variables.scss';
@import "~react-image-gallery/styles/css/image-gallery.css";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #999;
}

.hr {
    background-color: blue;
}

.columns {
    margin: 0;
    padding-top: 5vh;
    opacity: 92%;
    border: 0;
}

.title {
    align-items: center;
}

.section{
    color: blue;
    background-color: white;
  }

.container {
    color: blue;
}

  @import '~bulma/bulma.sass';
