

@import './variables.scss';
@import "~react-image-gallery/styles/css/image-gallery.css";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Abel&family=Alice&family=Fira+Sans+Condensed&family=Inconsolata&family=Kufam&family=Merriweather+Sans&family=Overpass&family=PT+Serif&family=Sawarabi+Mincho&family=Syne&display=swap');


body {
    background-image: url("../assets/background-wide.jpg");
    font-family: 'Merriweather Sans', sans-serif;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: blue;
}

// nav {
//     font-size: large;
//     font-family: 'Roboto', sans-serif;
//     display: flex;
//     width: 100%;
//     justify-content: space-between;
//     padding-right: 3%;
//     padding-left: 3%;
//   }

#footer {
    max-height: 10px;
    opacity: 1%;
}

.hr {
    background-color: blue;
}

.title {
    align-items: center;
}

.section{
    color: blue;
    background-color: white;
    font-family: 'Merriweather Sans', sans-serif;
  }

.container {
    color: blue;
    font-size: large;
    font-family: 'Merriweather Sans', sans-serif;
}

#page-container {
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 5%;
    margin-bottom: 5%;
    padding: 4%;
    border-radius: 4px;
}

#photo-arrow {
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 5%;
    margin-bottom: 3%;
}

#input-margin {
    margin-right: 2%;
}

.reactions{
    white-space: pre-line;
}

@import '~bulma/bulma.sass';