@import '~bulma/bulma.sass';
@import './variables.scss';
@import "~react-image-gallery/styles/css/image-gallery.css";
@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans&display=swap');


html { 
  background: url("../assets/background-wide.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

nav {
    font-size: medium;
}

.media-left {
    width: 100px;
}

#google-maps {
    padding-left: 10%;
}

#footer {
    max-height: 10px;
    opacity: 1%;
}

.hr {
    background-color: blue;
}

.title {
    align-items: center;
}

.section{
    color: blue;
    background-color: white;
    font-family: 'Merriweather Sans', sans-serif;
  }

.container {
    color: blue;
    font-size: medium;
    font-family: 'Merriweather Sans', sans-serif;
}

#page-container {
    margin-left: 3%;
    margin-right: 3%;
    margin-top: 3%;
    margin-bottom: 3%;
    padding: 2%;
    border-radius: 4px;
}

#photo-arrow {
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 5%;
    margin-bottom: 3%;
}

.reactions{
    white-space: pre-line;
}

@include desktop {
    #page-container {
        margin-left: 15%;
        margin-right: 15%;
        margin-top: 5%;
        margin-bottom: 5%;
        padding: 4%;
        border-radius: 4px;
    }

    .container {
        font-size: large;
    }

    nav {
        font-size: large;
    }

    #field-large {
        width: 70%;
    }


    #field-small {
        width: 30%;
    }

    #field-medium {
        width: 50%;
    }

    #input-margin {
        margin-right: 2%;
    }
}