

@import './variables.scss';
@import "~react-image-gallery/styles/css/image-gallery.css";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto&display=swap');

body {
    background-image: url("../assets/background-wide.jpg");
    font-family: 'Roboto', sans-serif;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: blue;
}

.hr {
    background-color: blue;
}

.title {
    align-items: center;
}

.section{
    color: blue;
    background-color: white;
  }

.container {
    color: blue;
}

#page-container {
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5%;
    margin-bottom: 5%;
    padding: 2%;
    border-radius: 4px;
}

#photo-arrow {
    margin: 150px;
}

  @import '~bulma/bulma.sass';
